  </div>
  
<footer id="main-footer">
    Copyright &copy; 2018 &nbsp;

    <a href="htttps://facebook.com" target="_blank" class="white-text">
        <i class="fab fa-facebook fa-2x"></i>
    </a>
    &nbsp;
    <a href="htttps://twitter.com" target="_blank" class="white-text">
        <i class="fab fa-twitter fa-2x"></i>
    </a>
    &nbsp;
    <a href="htttps://linkedin.com" target="_blank" class="white-text">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
    &nbsp;
    <a href="htttps://instagram.com" target="_blank" class="white-text">
        <i class="fab fa-instagram fa-2x"></i>
    </a>
    &nbsp;
</footer>

 <script src="../js/main.js"></script>
<script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    
</body>
</html>