  </div>
  
 <footer id= "main-footer">
        Copyright &copy; 2018
</footer>

 <script src="../js/main.js"></script>
<script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    
</body>
</html>