<footer id= "main-footer">
        Copyright &copy; 2018  &nbsp;

        <a href="htttps://facebook.com" target="_blank" class="white-text">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        &nbsp;
        <a href="htttps://twitter.com" target="_blank" class="white-text">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        &nbsp;
        <a href="htttps://linkedin.com" target="_blank" class="white-text">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        &nbsp;
        <a href="htttps://instagram.com" target="_blank" class="white-text">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        &nbsp;        
</footer>
<script src = "js/materialize.js"></script>
<script src="js/main.js"></script>
    <script>
        // const sideNav = document.querySelector('.sidenav');
        // M.Sidenav.init(sideNav,{});
        const slider = document.querySelector('.slider');
        M.Slider.init(slider,{
            indicators :false,
            height:400,
            transition:500,
            interval:6000,
        })
        const coursel = document.querySelector('.carousel')
        M.Carousel.init(coursel,{})
        const Collapse = document.querySelectorAll('.collapsible')
        M.Collapsible.init(Collapse, {})
        //

            
    </script>
</body>

</html>