
<% include ./frontend_partials/header %>


<body id="bg-img" class="scrollspy">
    <div class="navbar-fixed">
        <nav class="blue darken-3">
            <div class="">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">A Sample Logo</a>
                    <div class="menu-btn">
            <!-- <div class="circle"></div> -->
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <!-- side menu branding -->
        <nav class="menu">
            <div class="menu-branding">
                <div class="potrait"></div>
            </div>
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        Home
                    </a>
                </li> 
                <li class="nav-item">
                    <a href="/users/register" class="nav-link">
                        Register/Login
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">
                        About Us
                    </a>
                </li>
                <li class="nav-item current">
                    <a href="/contact" class="nav-link">
                        Info
                    </a>
                </li>
            </ul>
        </nav>
                </div>
            </div>
        </nav>
    </div>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>


    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    
<% include ./frontend_partials/footer %>