<% include ./partials/header %>
<h1 class="mt-4">Dashbaord</h1>
<p class="lead mb-3">Welcome 
    <%= user.name %>
<a href="/medicinelist" class="btn btn-secondary">
    Medicinelist
</a>
<a href=""></a>
    
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<% include ./partials/footer %>