<% include ./partials/header %>
<h1 class="mt-4">Dashbaord</h1>
<p class="lead mb-3">Welcome 
    <%= user.name %>
<% include ./partials/messages %>
<a href="/medicinelist" class="btn btn-secondary">
    Medicine list
</a>
<a href="/reminder" class="btn btn-secondary">
    Take your medicine
</a>

    
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<% include ./partials/footer %>